{% extends "base.html" %}

{% block head %}
    {{ super() }}
    <!-- custom search page -->
    <link href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/search.css"" type="text/css" rel="stylesheet" />
    <!-- pelican search -->
    <script src="https://files.stork-search.net/releases/v1.5.0/stork.js"></script>
{% endblock %}

{% block title %}{{ SITENAME }} - Search{% endblock %}

{% block canonical_url %}<link href="{{ SITEURL }}/search.html" rel="canonical" />{% endblock canonical_url %}

{% block header %}
    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header id="blog-header" class="has-cover">
      <div class="inner">
        <nav id="navigation">
          {% if SITE_LOGO %}
            <span class="blog-logo">
                <a href="{{ SITEURL }}/"><img src="{{SITE_LOGO}}" alt="Blog Logo" /></a>
            </span>
          {% else %}
            <span id="home-button" class="nav-button">
                <a class="home-button" href="{{ SITEURL }}/" aria-label="Home" title="Home">
                  <i class="ic ic-arrow-left" aria-hidden="true"></i>
                  <span>Home</span>
                </a>
            </span>
          {% endif %}
          <span id="menu-button" class="nav-button">
            <a class="menu-button" aria-label="Menu">
              <i class="ic ic-menu" aria-hidden="true"></i>
              <span>Menu</span>
            </a>
          </span>
        </nav>
        <h1 class="post-title"><i class="fa fa-search"></i> Search</h1>
      </div>
    </header>
{% endblock header %}

{% block content %}
    <div id="search">
        <div class="search-form">
            <input class="input-field" data-stork="storksearch" />
        </div>
        <div class="search-result">
            <div data-stork="storksearch-output"></div>
        </div>
    </div>

{% endblock content %}

{% block search_js %}
    <script>
        stork.register("storksearch", "{{ SITEURL }}/search-index.st")
    </script>
{% endblock search_js %}